<div class="container__small-card">
  <div class="containter__small-card-content">
    <div class="small-card__photo">
      <a href="$"><img src="{{ photoCover }}" alt="" /></a>
    </div>
    <div class="small-card__title">
      <a href="#"
        ><h3>
          {{ cardTitle }}
        </h3></a
      >
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>

<!-- https://images.pexels.com/photos/838413/pexels-photo-838413.jpeg?auto=compress&cs=tinysrgb&w=1600

https://images.pexels.com/photos/54101/magic-cube-cube-puzzle-play-54101.jpeg?auto=compress&cs=tinysrgb&w=1600 -->
