<app-menu-title></app-menu-title>

<div class="conteiner__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://images.pexels.com/photos/90638/pexels-photo-90638.jpeg?auto=compress&cs=tinysrgb&w=1600"
      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Inventorelaborum similique blanditiis reprehenderit temporibus
                      tempore distinctioquae iusto ratione quas."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://images.pexels.com/photos/1181681/pexels-photo-1181681.jpeg?auto=compress&cs=tinysrgb&w=200
    "
      cardTitle="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellendus ducimus eius laborum reprehenderit necessitatibus, facere alias."
    ></app-small-card>
    <app-small-card
      photoCover="https://images.pexels.com/photos/54101/magic-cube-cube-puzzle-play-54101.jpeg?auto=compress&cs=tinysrgb&w=200"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi delectus ullam? Modi, itaque cupiditate!"
    ></app-small-card>
    <app-small-card
      photoCover="https://images.pexels.com/photos/838413/pexels-photo-838413.jpeg?auto=compress&cs=tinysrgb&w=200"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem vel exercitationem impedit, enim ad rerum sapiente earum. Quaerat!"
    ></app-small-card>
  </div>
</div>
