<app-menu-title></app-menu-title>

<div class="conteiner__articles">
  <div class="articles__main">
    <app-big-card
      id="{{ id }}"
      photoCover="{{ photoCover }}"
      cardTitle="{{ cardTitle }}"
      cardDescription="{{ cardDescription }}"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="{{ smallCardTopPhotoCover }}"
      cardTitle="{{ smallCardTopTitle }}"
      cardLink="{{ smallCardTopLink }}"
    ></app-small-card>
    <app-small-card
      photoCover="{{ smallCardMiddlePhotoCover }}"
      cardTitle="{{ smallCardMiddleTitle }}"
      cardLink="{{ smallCardMiddleLink }}"
    ></app-small-card>
    <app-small-card
      photoCover="{{ smallCardBottomPhotoCover }}"
      cardTitle="{{ smallCardBottomTitle }}"
      cardLink="{{ smallCardBottomLink }}"
    ></app-small-card>
  </div>
</div>
